<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="../../style/style.css" />
  </head>
  <div class="desk">
    <div class="desk-nav">
      <a href="/" class="nav-home-desk">HOME</a>
      <a href="/blogs/" class="nav-blogs-desk">BLOGS</a>
      <button class="nav-theme-desk">SWITCH THEME</button>
      <a href="/" class="nav-login-desk">LOG IN</a>
    </div>
  <body>
    <article class="post">

      <h3 class="post-title">{{title }}</h3>
      <h4 class="post-author">By {{author}}</h4>
    

      <img class="post-image" src="{{ image }}" alt="{{ imageAlt }}">
      
    </article>
    
    {{  content | safe}}
  </body>
</html>
