<nav class="desk">
  <ul class="list" class="desk-nav">
    <div>
      <a href="/" id="theme" class="nav-item-desk-theme">SWITCH THEME</a>
    </div>
    <div>
      <a href="/" class="nav-item-desk">HOME</a>
    </div>
    <div>
      <a href="/blogs/" class="nav-item-desk-blogs">BLOGS</a>
    </div>
  </ul>
</nav>
