<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Just Another Killer Blog</title>
    <link rel="stylesheet" href="./style/style.css" />
  </head>
  <body>
    <header class="header">
      <div class="header-container">
        <div class="buttons">
          <a href="/" class="home">HOME</a>
          <a href="/blogs/" class="blog">BLOGS</a>
          <button class="theme">SWITCH THEME</button>
          <a href="https://www.youtube.com" class="log-in">LOG IN</a>
        </div>
        <h1 class="header-title">Just Another Killer Blog</h1>
        <p class="header-desc">
          The place where we dissect the world’s most notable serial killers
          piece by piece
        </p>
      </div>
      <div class="img-container">
        <img src="media/glasses.jpg" alt="glasses" />
      </div>
    </header>
    <script type="module" src="./js/main.js"></script>
  </body>
</html>
